include LICENSE CITATION.md THIRD_PARTY.md CHANGELOG.md CONTRIBUTING.md requirements.txt mdworkbench.py
recursive-include docs *.md
recursive-include examples *.md *.json *.py *.pdb *.html *.dat *.svg
recursive-include mdwb *.html *.js *.txt *.json
recursive-include tests *.py
global-exclude *.pyc
prune examples/__pycache__
